@using MedicalHelper.Models.User
@model List<UserViewModel>


<div>  
    <tr>
        @foreach (var user in Model)
        {
            <p>                
                <th>@user.Id</th>
                <th>@user.Login</th>
                <th>@user.Password</th>                  
            </p>
        }
    </tr>
</div>