@using MedicalHelper.Models.Visit

@model List<VisitViewModel>

<div>
    <tr>
        @foreach (var visit in Model)
        {
            <p>
            <th>@visit.SpecializationOfDoctor</th>
            <th>@visit.FullNameOfDoctor</th>
            <th>@visit.DateTime</th>         
            </p>
        }
    </tr>
</div>