@model List<MedicalHelper.Models.VaccinationViewModel>

<div>
    <table border="1" align="center" cellspacing="0" cellpadding="10">
        <tr>
            <th>Vaccination Name</th>
            <th>Vaccination Date</th> 
        </tr>
        @foreach (var vaccination in Model)
        {
            <tr>
                <th>@vaccination.Name</th>
                <th>@vaccination.Date.ToString("dd MMM yyyy")</th>               
            </tr>
        }
    </table>
</div>
