
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body> 
        <div class="header">
            <img src="~/image/meditsina.jpg" />
            Medical Helper
            <img src="~/image/meditsina.jpg" />
        </div>

        <div class="central-block">
            <div class="menu">
                Menu
            
            <div><a href="/UserProfile/GetAllUserProfiles"> GetAllUserProfiles </a></div>
            <div><a href="/UserProfile/UserProfileAdd"> UserProfileAdd </a></div>
            <div><a href="/UserProfile/MyProfile"> MyProfile </a></div>


            <div><a href="/User/GetUserById"> GetUserById </a></div>
            <div><a href="/User/GetAllUsers"> GetAllUsers </a></div>
            <div><a href="/User/Register"> Register </a></div>
            <div><a href="/User/Login"> Login </a></div>


            <div><a href="/Visit/GetAllVisits"> GetAllVisits </a></div>
            <div><a href="/Visit/VisitAdd"> VisitAdd </a></div>


            <div><a href="/Medicine/GetMedicine"> GetMedicine </a></div>
            <div><a href="/Medicine/GetAllMedicine"> GetAllMedicine </a></div>

            
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>

        <div class="footer">
            Подвал
        </div>
    
    </body>
</html>
