
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body> 
        <div class="header">
            <img src="~/image/meditsina.jpg" />
            Medical Helper
            <img src="~/image/meditsina.jpg" />
        </div>

        <div class="central-block">
            <div class="menu">
                Menu
            <div><a href="/UserProfile/GetUserProfile"> GetUserProfile </a></div>
            <div><a href="/UserProfile/GetAllUserProfile"> GetAllUserProfile </a></div>
            <div><a href="/UserProfile/UserProfileAdd"> UserProfileAdd </a></div>
            <div><a href="/UserProfile/MyProfile"> MyProfile </a></div>


            <div><a href="/User/GetUser"> GetUser </a></div>
            <div><a href="/User/GetAllUser"> GetAllUser </a></div>
            <div><a href="/User/Register"> Register </a></div>
            <div><a href="/User/Login"> Login </a></div>



            <div><a href="/Visit/GetVisit"> GetVisit </a></div>
            <div><a href="/Visit/GetAllVisits"> GetAllVisits </a></div>
            <div><a href="/Visit/VisitAdd"> VisitAdd </a></div>

            <div><a href="/Medicine/GetMedicine"> GetMedicine </a></div>
            <div><a href="/Medicine/GetAllMedicine"> GetAllMedicine </a></div>

            
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>

        <div class="footer">
            Подвал
        </div>
    
    </body>
</html>
