@using MedicalHelper.Business.ServicesImplementations
@using MedicalHelper.Core.Abstractions

@inject IUserService userService

<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body> 
        <div class="header">
            <img src="~/image/meditsina.jpg" />
                <span class="MH">
                    Medical Helper
                </span>
            <img src="~/image/meditsina.jpg" />                       
        </div>


    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>


        <div class="central-block">
            <div class="menu">
                            
            @if (!User.Identity.IsAuthenticated)
            {
                <div><a href="/User/Login"> Sign in </a></div>
                <div><a href="/User/Register"> Create an account </a></div>
            }

            @if (User.Identity.IsAuthenticated)
            {
                <div><a href="/UserProfile/MyProfile"> My Profile </a></div>

                <div><a href="/Visit/VisitAdd"> Add visit </a></div>
                <div><a href="/Visit/GetAllVisits"> All my visits </a></div>

                <div><a href="/Medicine/MedicineAdd"> Add Medicine </a></div>
                <div><a href="/Medicine/GetAllMedicine"> All Medicines </a></div>

                <div><a href="/Vaccination/VaccinationAdd"> Add Vaccinations </a></div>
                <div><a href="/Vaccination/GetAllUserVaccinations"> All Vaccinations </a></div>
                               
                @if (userService.IsAdmin())
                {
                    <div><a href="/User/GetAllUsers"> Get All Users </a></div>
                    <div><a href="/UserProfile/GetAllUserProfiles"> Get All UserProfiles </a></div>
                }

                <div><a href="/User/Logout"> Exit </a></div>
            }
                        
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MedicalHelper - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/auth.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    </body>
</html>
