
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body> 
        <div class="header">
            <img src="~/image/meditsina.jpg" />
            Medical Helper
            <img src="~/image/meditsina.jpg" />
        </div>

        <div class="central-block">
            <div class="menu">
                Menu
            
            <div><a href="/UserProfile/GetAllUserProfiles"> GetAllUserProfiles </a></div>
            <div><a href="/UserProfile/UserProfileAdd"> UserProfileAdd </a></div>
            <div><a href="/UserProfile/MyProfile"> MyProfile </a></div>


            <div><a href="/User/GetUserById"> GetUserById </a></div>
            <div><a href="/User/GetAllUsers"> GetAllUsers </a></div>
            <div><a href="/User/Register"> Register </a></div>
            <div><a href="/User/Login"> Login </a></div>


            <div><a href="/Visit/GetAllVisits"> GetAllVisits </a></div>
            <div><a href="/Visit/VisitAdd"> VisitAdd </a></div>


            <div><a href="/Medicine/GetMedicine"> GetMedicine </a></div>
            <div><a href="/Medicine/GetAllMedicine"> GetAllMedicine </a></div>

            
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AspNetSampleMvcApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    </body>
</html>
