.header{
    background:aqua;
    font-size:30px;
    text-align:center;
    height:60px;
}

.header img {
    max-width: 80px;
    max-height: 80px;
}

img {    
    max-width: 250px;
    max-height: 250px;
}

.Image {
    margin: 12px;
}

.central-block {
    display: flex;
}

.MH {
    text-align: center;
}

.menu {    
    width: 300px;
    font-size: 20px;
}

.content {
    flex: 1;
    border: 2px red solid;
    font-size: 20px;
    text-align: center;
}


.Category {
    display: flex;
    flex-wrap: wrap;
}

.Buttons{
    /*display:flex;*/
}

.button {
   /* flex:1;*/
    text-align:center;
    border: 2px red solid;
    margin: 5px;
}
