@using MedicalHelper.Models.UserProfile

@model UserProfileViewModel

<table border="1" align="center" cellspacing="0" cellpadding="10">
    <tr>
        <th>First Name</th>
        <th>
            @Model.FirstName
        </th>        
    </tr>
    <tr>
        <th>Last Name</th>
        <th>@Model.LastName</th>       
    </tr>
    <tr>
        <th>Data Of Birth</th>
        <th>@Model.DataOfBirth.Value.ToString("dd MMM yyyy")</th>
    </tr>
    <tr>
        <th>Address</th>
        <th>@Model.Address</th>
    </tr>
</table>
