<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<div class="Category">
    <div class="Visit">
        <div class="Name">
            Visit
        </div>
        <div class="Image">
            <img src="https://proprikol.ru/wp-content/uploads/2020/09/kartinki-mediczina-1.jpg" />
        </div>       
    </div>

    <div class="Medicine">
        <div class="Name">
            Medicine
        </div>
        <div class="Image">
            <img src="https://proprikol.ru/wp-content/uploads/2020/09/kartinki-mediczina-3.jpg" />
        </div>
    </div>

    <div class="Vaccination">
        <div class="Name">
            Vaccination
        </div>
        <div class="Image">
            <img src="https://proprikol.ru/wp-content/uploads/2020/09/kartinki-mediczina-9.jpg" />
        </div>       
    </div>

    <div class="Information">
        <div class="Name">
            Information
        </div>
        <div class="Image">
            <img src="https://proprikol.ru/wp-content/uploads/2020/09/kartinki-mediczina-20.jpg" />
        </div>        
    </div>           
</div>


